/* * {
  margin-top: 5px;
} */

.divider {
  border: 1px dashed grey;
}

.textbox {
  width: 150px;
}

.link-wrapper {
  margin-top: 5px;
  text-align: center;
}

.icon-wrapper {
  /* height: 50px; */
  /* width: 50px; */
  margin: 0px auto 0px auto;
  width: 30%;
}

.title-wrapper {
  /* width: 100%; */
}

.row {
  width: 100%;
  display: block;
}

/* .center {
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px;
} */
