.divider {
  border: 1px dashed grey;
}

.textbox {
  width: 150px;
}

.optionsBody {
  font-size: 16px;
}

.highlight-red {
  color: red;
}

.urlTextbox {
  width: 350px;
}

.titleTextbox {
  width: 100px;
}

.link-wrapper {
  margin-top: 5px;
  text-align: center;
}

.icon-wrapper {
  margin: 0px auto 0px auto;
  width: 30%;
}

.title-wrapper {
}

.row {
  margin-top: 10px;
  width: 100%;
  display: block;
}
